<div class="col-sm-6">
  <h2>List of your stylists:</h2>
  <% if @stylists %>
    <ul>
      <% @stylists.each() do |stylist| %>
        <li class='list'><a class='link' href="/stylist/<%= stylist.id %>"><%= stylist.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h4>You don't have any stylists yet.</h4>
  <% end %>
  <hr class="tpadding">
  <a class="navigation" href="/add_new_stylists" class="btn-lrg">Add some stylists</a>
</div>

<div class="col-sm-6">
  <h2>List of your clients:</h2>
  <% if @clients %>
    <ul>
      <% @clients.each() do |client| %>
        <li><a href="/client/<%= client.id %>"><%= client.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h4>You don't have any clients yet.</h4>
  <% end %>
  <hr class="tpadding">
  <a class="navigation" href="/add_new_clients" class="btn-lrg">Add some clients</a>
</div>
